{% extends "@App/base.html.twig" %}
{% block title %}Профиль - Личный кабинет{% endblock %}
{% block content %}
    <div class="row">
        {% include "@App/Components/Cabinet-sidebar/sidebar_ward.html.twig" %}
        <div class="col-xs-8">
            <h3 align="center">Профиль</h3>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-2" for="email">Email:</label>
                    <div class="col-xs-8">
                        <input type="email" class="form-control" name="email" placeholder="Email" value="{{ user.email }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="password">Пароль:</label>
                    <div class="col-xs-8">
                        <input type="password" class="form-control" name="password" placeholder="Введите пароль" value="{{ user.plainPassword }}">
                    </div>
                </div>

                {% if ward is empty %}
                    {% set fullname = '' %}
                    {% set organization_name = '' %}
                    {% set address = '' %}
                    {% set phone = '' %}
                {% else %}
                    {% set fullname = ward.contactFullname %}
                    {% set organization_name = ward.name %}
                    {% set address = ward.address %}
                    {% set phone = ward.contactPhone %}
                {% endif %}
                <div class="form-group">
                    <label class="control-label col-xs-2" for="full_name">ФИО:</label>
                    <div class="col-xs-8">

                        <input type="text" class="form-control" name="last_name" placeholder="Введите ФИО" value="{{ fullname }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="organization">Организация:</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" name="organization" placeholder="Введите наименование организации" value="{{ organization_name }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="address">Адрес:</label>
                    <div class="col-xs-8">
                        <textarea rows="3" class="form-control" name="address" placeholder="ул.Пушкина, дом. Колотушкина">{{ address }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="contact_phone">Телефон:</label>
                    <div class="col-xs-8">
                        <input type="tel" class="form-control" name="contact_phone" placeholder="+7-999-111-22-33" value="{{ phone }}">
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-9">
                        <input type="submit" class="btn btn-primary" value="Сохранить изменения">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}