{% extends "@App/base.html.twig" %}
{% block title %}Профиль - Личный кабинет{% endblock %}
{% block content %}
    <div class="row">
        {% include "@App/Components/Cabinet-sidebar/sidebar_contributor.html.twig" %}
        <div class="col-md-8">
            <h3 align="center">Профиль</h3>
            <form class="form-horizontal col-md-offset-3 col-md-6" action="{{ path('cabinet_profile_update') }}" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" value="{{ user.email }}">
                </div>
                <div class="form-group">
                    <label for="password">Новый Пароль</label>
                    <input type="password" class="form-control" name="password" placeholder="Введите новый пароль" value="">
                </div>

                {% if contributor is empty %}
                    {% set fullname = '' %}
                    {% set organization_name = '' %}
                    {% set phone = '' %}
                {% else %}
                    {% set fullname = contributor.name %}
                    {% set organization_name = contributor.organizationName %}
                    {% set phone = contributor.contactPhone %}
                {% endif %}
                <div class="form-group">
                    <label for="full_name">ФИО</label>
                    <input type="text" class="form-control" name="full_name" placeholder="Введите ФИО" value="{{ fullname }}">
                </div>
                <div class="form-group">
                    <label for="organization">Организация</label>
                    <input type="text" class="form-control" name="organization" placeholder="Введите наименование организации" value="{{ organization_name }}">
                </div>
                <div class="form-group">
                    <label for="contact_phone">Телефон</label>
                    <input type="tel" class="form-control" name="contact_phone" placeholder="+7-999-111-22-33" value="{{ phone }}">
                </div>
                <div class="form-group">
                    <p align="center">
                        <input type="submit" class="btn btn-primary" value="Сохранить изменения">
                    </p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}